.mediaViewInfo {
		--web-view-name: Web 1920 – 3;
		--web-view-id: Web_1920__3;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1920__3;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1920__3 {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Web 1920 – 3;
		--web-view-id: Web_1920__3;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	.Booking_Background {
		position: absolute;
		overflow: visible;
		width: 246px;
		height: 68px;
		left: 0px;
		top: 0px;
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 6px;
		height: 56px;
		left: 0px;
		top: 0px;
	}
	.Booking_Outline {
		position: absolute;
		overflow: visible;
		width: 246px;
		height: 68px;
		left: 0px;
		top: 0px;
	}
	.Rectangle_4 {
		fill: rgba(0,255,93,1);
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 6px;
		height: 56px;
		left: 0px;
		top: 0px;
	}
	.openBooking .Booking_Background{
		/*/*background: linear-gradient(to bottom, #fff, #fff 50%, #333 75%, #fff 75%);*/
		fill: url(#linear-gradient-up);

	}
	.openBooking:hover .Booking_Background{
		/*/*background: linear-gradient(to top,, 50%, #333 75%, 75%);*/
		fill: url(#linear-gradient-down);


	}
	.openBooking:active .Booking_Background{
		/*background-color: lightgrey;*/
		fill: url(#linear-gradient-off);

	}
	.closedBooking .Booking_Background{
		/*background-color: lightgrey;*/
		fill: url(#linear-gradient-off);

	}

	.Booking_Outline {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Booking_Outline {
		position: absolute;
		overflow: visible;
		width: 246px;
		height: 68px;
		left: 0px;
		top: 0px;
	}
	.Booking_Name {
		left: 1px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 246px;
		height: 50px;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
		color: rgba(57,83,117,1);
		word-break: break-all;
	}
	.Pax_Count {
		left: 9px;
		top: 50px;
		position: absolute;
		overflow: visible;
		width: 66px;
		height: 18px;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(57,83,117,1);
	}
	.Time {
		left: 169px;
		top: 50px;
		position: absolute;
		overflow: visible;
		width: 66px;
		height: 18px;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(57,83,117,1);
	}
	.bookingWrap{
		position: relative;
		width: 246px;
		height: 69px;
	}

	.Day_Of_The_Week {
		position: absolute;
		width: 246px;
		height: 453px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	.Day_Rect {
		opacity: 0.63;
		fill: url(#Day_Rect);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
		position: absolute;
		overflow: visible;
		width: 246px;
		height: 452px;
		left: 0px;
		top: 0px;
	}
	.Day_Text_Label {
		left: 1px;
		top: 13px;
		position: absolute;
		overflow: visible;
		width: 246px;
		height: 30px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(57,83,117,1);
	}
	.dayHolder{
		position: relative;
		width: 246px;
		height: 453px;
	}

	.BookingHolder {
		position: absolute;
		width: 246px;
		height: 380px;
		left: 0px;
		top: 49px;
		overflow-y: auto;
		overflow-x: visible;
		scrollbar-width: none;
		-ms-overflow-style: none;
		margin-right: 0px;
		margin-left: 0px;
	}
	.BookingHolder::-webkit-scrollbar {
	  display: none;
	}
	.downCheveron {
		transform: translate(0px, 0px) matrix(1,0,0,1,111,429) rotate(90deg);
		transform-origin: center;
		position: absolute;
		width: 24px;
		height: 24px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	.Boundary {
		
		fill: transparent;
		position: absolute;
		overflow: visible;
		width: 24px;
		height: 24px;
		left: 0px;
		top: 0px;
	}
	.n_Color {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 7.4px;
		left: 6px;
		top: 8.6px;
		transform: matrix(1,0,0,1,0,0);
	}
	#indvidualResults{
		column-count: 3;
	}
	
	@media screen and (max-width: 980px) {
  #indvidualResults{
		column-count: 2;
	}
		@media screen and (max-width: 600px) {
	  #indvidualResults{
			column-count: 1;
		}
	}
}