.textWindow {
  left: 30vw;
  width: 40vw;
  text-align: center;
}
.tableClass {
  margin:auto;
  margin-top: 2vh;
}
.popout{
	position:relative;
	margin: auto;
	top: 20%;
	min-width: 220px;
	max-width: 50vw;
	height: fit-content;
	background-color: lightgrey;
	border-radius: 3%;
	z-index: 3;
	text-align: center;
}
.buttonHolder{
	margin: auto;
	width: 100%;
	padding-bottom: 20px;
}
.fhack{
	width: 0px;
}

.approveBtn {
	display: inline-block;
	border-radius: 0px;
	font-size: 18px;
	font-family: Arial;
	margin: auto;
	background: #4444cc80;
	width: 10vw;
	max-width: 25%;
	max-height: 100%;
	text-align: center;
	line-height: 6vh;
	color: #fff;
	text-decoration:none;
	cursor: pointer;
}
.approveBtn:hover {
	background:linear-gradient(to bottom, #415989 5%, #4269a6 100%);
	background-color:#415989;
}
.approveBtn:hover:active {
	position:relative;
	top:1px;
}

h1 {
	padding: 20px;
}
.bar {
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 10%;
    background: #00000099;
    z-index: 99;
}
.logout {
    float: left;
    /* top: 25%; */
    border-radius: 12px;
    margin-top: 1vh;
    margin-right: 1vw;
    background: #4444CC80;
    text-align: center;
    line-height: 7vh;
    color: #fff;
    width: 10%;
    height: 80%;
}
.fname {
    float: right;
    padding: 1px 0.2em;
}
.lname {
    float: right;
    padding: 1px 0.2em;
}
.photo {
    float: right;
    margin-top: 0.25%;
    padding: 1%;
    border-radius: 3px;
    height: 90%;
    width: 9vh;
    background: #000000;
}
#usrImg {
    max-width: 100%;
    max-height: 100%;
}