@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.fname {
  float: right;
  padding: 1px 0.5em;
}
.lname {
  float: right;
  padding: 1px 0.5em;
}
.photo {
  float: right;
  margin-top: 0.25%;
  padding: 1px 0.5em;
  border-radius: 15px;
  height: 90%;
  width: 5vw;
  background: #000000;
}
.bar {
  position: sticky;
  top: 0px;
  width: 100vw;
  height: 10%;
  background: #00000099;
  z-index: 99;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  transform: translateY(85px);
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
	min-width: 100px;
	max-width: 50vw;
  border-radius: 3px;
  padding: 2vh 1.5vw;
  margin: 1vh -2vw 1vh 10%;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
form button {
  margin: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: min(5vw, 5vh);
  height: min(5vw, 5vh);
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -120vh;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}

[class*="extraBubble"] {
  display: none;
}
@media only screen and (min-width: 768px) {

  .bubble11 {display: block; width: min(6vw, 6vh); height: min(6vw, 6vh); left: 56%;   animation-delay: 0.5s; -webkit-animation-delay: 0.5s; animation-duration: 15; -webkit-animation-duration: 15; top: -110%}
  .bubble12 {display: block; width: min(10vw, 10vh); height: min(10vw, 10vh); left: 88%;   animation-delay: 1.0s; -webkit-animation-delay: 1.0s; animation-duration: 15; -webkit-animation-duration: 15; top: -100%}
  .bubble13 {display: block; width: min(3vw, 3vh); height: min(3vw, 3vh); left: 49%;   animation-delay: 1.5s; -webkit-animation-delay: 1.5s; animation-duration: 12; -webkit-animation-duration: 12; top: -130%}
  .bubble14 {display: block; width: min(10vw, 10vh); height: min(10vw, 10vh); left: 34%;   animation-delay: 2.0s; -webkit-animation-delay: 2.0s; animation-duration: 13; -webkit-animation-duration: 13; top: -100%}
  .bubble15 {display: block; width: min(5vw, 5vh); height: min(5vw, 5vh); left: 10%;   animation-delay: 2.5s; -webkit-animation-delay: 2.5s; animation-duration: 15; -webkit-animation-duration: 15; top: -100%}
  .bubble16 {display: block; width: min(11vw, 11vh); height: min(11vw, 11vh); left: 78%;   animation-delay: 3.0s; -webkit-animation-delay: 3.0s; animation-duration: 15; -webkit-animation-duration: 15; top: -105%}
  .bubble17 {display: block; width: min(4vw, 4vh); height: min(4vw, 4vh); left: 40%;   animation-delay: 3.5s; -webkit-animation-delay: 3.5s; animation-duration: 16; -webkit-animation-duration: 16; top: -150%}
  .bubble18 {display: block; width: min(3vw, 3vh); height: min(3vw, 3vh); left: 35%;   animation-delay: 4.0s; -webkit-animation-delay: 4.0s; animation-duration: 18; -webkit-animation-duration: 18; top: -150%}
  .bubble19 {display: block; width: min(9vw, 9vh); height: min(9vw, 9vh); left: 27%;   animation-delay: 4.5s; -webkit-animation-delay: 4.5s; animation-duration: 18; -webkit-animation-duration: 18; top: -115%}
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: min(9vw, 9vh);
  height: min(9vw, 9vh);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: min(8vw, 8vh);
  height: min(8vw, 8vh);
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: min(14vw, 14vh);
  height: min(14vw, 14vh);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: min(20vw, 20vh);
  height: min(20vw, 20vh);
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: min(4vw, 4vh);
  height: min(4vw, 4vh);
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: min(2vw, 2vh);
  height: min(2vw, 2vh);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: min(19vw, 19vh);
  height: min(19vw, 19vh);
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-250vh) rotate(600deg);
  }
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-250vh) rotate(600deg);
  }
}
