{% extends 'movingBackground.html' %}
{% block pageTitle%}VirusPartial{% endblock %}
{% block otherCSS %}

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='frontMenu.css')}}">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

{% endblock %}
{% block abovePopout%}
<h1>
	<div class = "titleImage">
		<img width = "650" src = "static/images/logo-png.png"  >
	</div>
</h1>
{% endblock %}
{% block popout%}
<h1 style = "color:gray;">Please Select An Option:</h1>
	<nav>
	<a href="{{button_link_A}}">Upload a File</a>
	<a href="{{button_link_B}}">Enter A Hash</a>
	<a href="{{button_link_C}}">More</a>
	<div class="transition home"></div>
	</nav>
{% endblock %}

{% block otherBodyContents%}
{% endblock %}
