{% extends 'movingBackground.html' %}
{% block pageTitle%}VirusPartial{% endblock %}
{% block otherCSS %}

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='frontMenu.css')}}">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

{% endblock %}
{% block abovePopout%}

{% if logged_in == True : %}
<div class="bar">

	<a href="/home"><img src="{{url_for('static', filename='images/logo-png.png')}}" alt="Welcome" style="max-width: 20vw;max-height: 100%;"></a>
	<p class="lname">{{lname}}</p>
	<p class="fname">{{fname}}</p>
	<a href="users/logout" class="logbutton">Logout</a>
	<div class="photo"><a href="{{user_page}}"><img src="{{img_src}}" id="usrImg"></a></div>
</div>
{% else %}
<div class="bar">
	<a href="/home"><img src="{{url_for('static', filename='images/logo-png.png')}}" alt="Welcome" style="max-width: 20vw;max-height: 100%;"></a>
	<a href="users/register" class="logbutton">Register</a>
	<a href="users/login" class="logbutton">Login</a>
</div>
{% endif %}

<h1>
	<div class = "titleImage">
		<img width = "650" src = "static/images/logo-png.png"  >
	</div>
</h1>
{% endblock %}
{% block popout%}
<h1 style = "color:gray;">Please Select An Option:</h1>
<div class = "responsiveWrapper">
	<nav>
	<a href="{{button_link_A}}">Upload a File</a>
	<a href="{{button_link_B}}">Enter A Hash</a>
	<a href="{{button_link_C}}">Login</a>
	<div class="transition home"></div>
	</nav>
</div>
<div class = "responsiveWrapper">
	<nav>
	<a href="{{button_link_D}}">Upload A Folder</a>
	<a href="{{button_link_E}}">Check Scans</a>
	<a href="{{button_link_F}}">Register</a>
	<div class="transition home"></div>
	</nav>
</div>
{% endblock %}

{% block otherBodyContents%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><script src="./script.js"></script>
<script>
	let wwidth = $( window ).width();
	let scaleBy = wwidth/1920;
	$("#responsiveWrapper").css("-webkit-transform", "scale(" + scaleBy  + ") translate(" + 180 * (scaleBy-1) + "px, 0px)");
	$("#responsiveWrapper").css("transform", "scale(" + scaleBy  + ") translate(" + 180 * (scaleBy-1) + "px, 0px)");
	$( window ).resize(function() {
		let wwidth = $( window ).width();
		let scaleBy = wwidth/1920;
		$("#responsiveWrapper").css("-webkit-transform", "scale(" + scaleBy  + ") translate(" + 180 * (scaleBy-1) + "px, 0px)");
		$("#responsiveWrapper").css("transform", "scale(" + scaleBy  + ") translate(" + 180 * (scaleBy-1) + "px, 0px)");
	});

</script>


{% endblock %}