{% extends 'movingBackground.html' %}
{% block pageTitle%}Hash Results{% endblock %}

{% block otherCSS %}

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='hashResults.css')}}">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<script src="https://kit.fontawesome.com/05504ea815.js" crossorigin="anonymous"></script>

{% endblock %}


{% block abovePopout%}

<div class="bar">      

	<a href="/home"><img src="{{url_for('static', filename='images/logo-png.png')}}" alt="Welcome" style="max-width: 20vw;max-height: 100%;"></a>

</div>

<template id="gaugeTemplate">
        <style>
            .gauge path {
                stroke-width:75;
                stroke: #ecf0f1;
                fill:none;
            }

            .gauge .dataArc {
                stroke: #0f0;
            }
          
            .gauge .yellow {
                stroke: #ff0;
            }

            .gauge .red {
                stroke: #f00;
            }
        </style>
        <svg class="gauge" viewBox="0 0 1000 500">
            <path d="M 950 500 A 450 450 0 0 0 50 500"></path>
            <text class='percentage' text-anchor="middle" alignment-baseline="middle" x="500" y="300" font-size="140" font-weight="bold"></text>
            <text class='gaugeLabel' text-anchor="middle" alignment-baseline="middle" x="500" y="450" font-size="90" font-weight="normal"></text>
            <path class="dataArc"></path>
        </svg>
    </template>

{% endblock %}
{% block popout%} 
<h1>Results:</h1>
<br><hr><br>
<div class = "gaugeNText">
<span id = "gaugeHere"><percent-gauge value= "{{threat_level}}" label="Danger" yellow="35" red="50"></percent-gauge></span>
	<div class = "rhs2">
		<span id = "fnm"> FILE NAME:  {{file_info[0]}}</span><br>
		<span id = "fty"> FILE TYPE:  {{file_info[1]}}</span><br>
		<span id = "nml"> NUMBER MALICIOUS:  {{file_info[2]}}</span><br>
		<span id = "nsu"> SUSPICIOUS:  {{file_info[3]}}</span><br>
		<span id = "nhl"> HARMLESS:  {{file_info[4]}}</span><br>
		<span id = "nnf"> NOT FOUND:  {{file_info[5]}}</span><br>
	</div>
	</div>
	<div class = "sideInfo">
	<p id = "shaHead">SHA-256:  {{file_info[6]}}</p>
	
	
	<p id = "sha1Head">SHA-1:  {{file_info[7]}}</p>
	
	
	<p id = "md5Head">MD5:  {{file_info[8]}}</p>
	
	
	<p id = "fileType">File Type:  {{file_info[9]}}</p>
	</div>
	<br>
	<br>
	<div id = "indvidualResults">
		{%for rslt in results%}
  
    		<br><hr><br>
    		<div class="serviceResult">
    			<h3 class = "serviceName">{{rslt[0]}} </h3>
    			<p class = "serviceData" style = "color: {{rslt[1]}}"> {{rslt[2]}} </p>
    			<i class = "fa-solid serviceLogo {{rslt[3]}}" style = "color: {{rslt[1]}}"></i>
    		</div>
		{%endfor%}
	</div>
{% endblock %}

{% block otherBodyContents%} 

<script type="text/javascript" src="{{url_for('static', filename='hashResults.js')}}"></script>

{% endblock %}