{% extends 'movingBackground.html' %}
{% block pageTitle%}VirusPartial{% endblock %}
{% block abovePopout%} {% endblock %}
{% block otherCSS %}

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='enterHash.css')}}">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

{% endblock %}

{% block popout%} 
<form method="GET" enctype="application/x-www-form-urlencoded" action="{{hash_search}}/">
	<h1>Please Enter Your Hash Value:</h1>
	<div>
		<table class = "tableClass">
			<tr>
				<td>
					<label class = "lbl" for = "hash">Hash Link:</h2></td><td><input id = "hash" name = "hash" type = "Text">
				</td>
			</tr>
		</table>
	</div>
	<div class = "buttonHolder"><span class = "fhack">
		<input type="submit" class = "approveBtn" value = "Submit">
		<a class = "disapproveBtn" draggable = false href = "{{return_home}}">
			Cancel
		</a>
	</span></div>
</form>

{% endblock %}

{% block otherBodyContents%} 



{% endblock %}