{% extends 'movingBackground.html' %}
{% block pageTitle%}Hash Results{% endblock %}

{% block otherCSS %}

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='hashResults.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='spellbook.css')}}">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<script src="https://kit.fontawesome.com/05504ea815.js" crossorigin="anonymous"></script>

{% endblock %}


{% block abovePopout%} 
<template id="gaugeTemplate">
        <style>
            .gauge path {
                stroke-width:75;
                stroke: #ecf0f1;
                fill:none;
            }

            .gauge .dataArc {
                stroke: #0f0;
            }
          
            .gauge .yellow {
                stroke: #ff0;
            }

            .gauge .red {
                stroke: #f00;
            }
        </style>
        <svg class="gauge" viewBox="0 0 1000 500">
            <path d="M 950 500 A 450 450 0 0 0 50 500"></path>
            <text class='percentage' text-anchor="middle" alignment-baseline="middle" x="500" y="300" font-size="140" font-weight="bold"></text>
            <text class='gaugeLabel' text-anchor="middle" alignment-baseline="middle" x="500" y="450" font-size="90" font-weight="normal"></text>
            <path class="dataArc"></path>
        </svg>
    </template>

{% endblock %}
{% block popout%} 
<h1>Scan Results:</h1>
<br>
{% if remaining_files == False : %}
<h2 style = "color: darkred" >Please log in to use this feature</h2>
{% elif remaining_files > 0 : %}
<h2 >You have {{remaining_files}} files remaining</h2>
{% endif %}
<hr><br>
	<div id = "indvidualResults">
		{{results|safe}}
	</div>
{% endblock %}

{% block otherBodyContents%} 

<script type="text/javascript" src="{{url_for('static', filename='hashResults.js')}}"></script>
<script>
	function resultClicked(bookingID){
		window.location.href = "driver/fancyHash/?hash=" + bookingID;
	}
</script>

{% endblock %}