{% extends 'movingBackground.html' %}
{% block pageTitle%}Hash Results{% endblock %}

{% block otherCSS %}

	<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='hashResults.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='selectFile.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='spellbook.css')}}">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<script src="https://kit.fontawesome.com/05504ea815.js" crossorigin="anonymous"></script>

{% endblock %}


{% block abovePopout%} 
<div class="bar" style = "position: sticky;top: 0px;width: 100vw;height: 5vh;background: ##52525286;z-index: 99;">
  <a href="/home"><img src="{{url_for('static', filename='images/logo-png.png')}}" alt="Welcome" style="max-width: 20vw;max-height: 100%;"></a>
</div>
{% endblock %}
{% block popout%} 
<h1>Scan Results:</h1>
<br>
{% if remaining_files == -1 : %}
<h2 style = "color: darkred" >Please log in to use this feature</h2>
{% elif remaining_files > 0 : %}
<h2 >You have {{remaining_files}} files remaining</h2>
{% endif %}
<hr><br>
	<div id = "indvidualResults">
		{{results|safe}}
	</div>
{% endblock %}

{% block otherBodyContents%} 

<script type="text/javascript" src="{{url_for('static', filename='hashResults.js')}}"></script>
<script>
	function resultClicked(bookingID){
		window.location.href = "driver/fancyHash/?hash=" + bookingID;
	}


    function refreshRslts(){
        $.get("http://viruspartial.com/scanResultsR", function (data) {
            $(".popout").html(data);
        });
        
    }
    window.setInterval(refreshRslts, 1000);


</script>

{% endblock %}