<!doctype html>
<html>
<head>
	<title>{% block pageTitle%} {% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
	<script src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous'></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='movingBackground.css')}}">
	{% block otherCSS%} {% endblock %}
</head>

<body>

	<div class = "wrapper">
		{% block abovePopout%} {% endblock %}
		<div class = "popout">
			{% block popout%} {% endblock %}
		</div>

		{% block otherBodyContents%} {% endblock %}

		<ul class="bg-bubbles">
		<li class = "bbl"></li>
		<li class = "bbl"></li>
		<li class = "bbl"></li>
		<li class = "bbl"></li>
		<li class = "bbl"></li>
		<li class = "bbl"></li>
		<li class = "bbl"></li>
		<li class = "bbl"></li>
		<li class = "bbl"></li>
		<li class = "bbl"></li>
		<li class = "extraBubble bbl bubbles11"></li>
		<li class = "extraBubble bbl bubble12"></li>
		<li class = "extraBubble bbl bubble13"></li>
		<li class = "extraBubble bbl bubble14"></li>
		<li class = "extraBubble bbl bubble15"></li>
		<li class = "extraBubble bbl bubble16"></li>
		<li class = "extraBubble bbl bubble17"></li>
		<li class = "extraBubble bbl bubble18"></li>
		<li class = "extraBubble bbl bubble19"></li>
	</div>
	<script type="text/javascript" src="{{url_for('static', filename='bubblePop.js')}}"></script>
</body>
</html>